*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
/* navbar start */
.topbar{
    background-color: #004085;
   display: flex;
   justify-content: space-between;
   color: white;
   padding: 10px 40px;
}
.wrapper{
 display:flex;
gap: 2px;

}

.wrapper i{
    margin: 5px 5px;
}
.socialmedia{
    display: flex;
    justify-content: center;
    align-items: center;
       a:first-child{
    border-left: 1px solid white;
   }
a{
 color: white;
border-right: 1px solid white; 
 padding: 10px 10px; 
    margin-top: 0;
    margin-bottom: 0;
}
a:hover{
    background-color: white;
    color: #007bff;
}
}
.navbar  {
    background-color: #092a49;
    color: white;
    padding: 20px 10px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;

a{
    color: white;
    font-size: 20px;
    margin-right: 30px;
}
a:hover{
    color:#007bff;;
}
}
/* main section starts */
.service {
    p{
        color:#6c757d;
        font-size: 20px;
        margin: 40px;
    }
    h2{
        font-size: 40px;
       margin-left: 8rem;
        color:#6c757d;
        font-family: 'Oswald'; 
        font-weight: 350;   
    }
    }
    .container1{
        width: 68%;
        background-color: white;
        margin: auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

    }
    .service-items{
       flex-basis: 23%;
        margin: 10px 0px;
        text-align: center;
        padding: 30px 0px;
        border: 2px solid rgb(236, 233, 233);
        h3{
            padding: 10px 10px;
             font-family: 'oswald'; 
             font-weight: 300;
        }

        p{
            font-size: 17.5px;
            padding: 10px 20px;
            color: #595959;
        } 
    }
    .service-items:hover{
        box-shadow: 0px 0px 15px 3px rgb(236, 233, 233);
    }
   /* footer starts */
   footer{
    background-color: #092a49;  

   }
.container{
    display: flex;
    justify-content: space-around;
    padding-top:2rem ;
    margin-left: 16rem;
    color: white;
    gap: 20rem;
         p {
       margin: 10px 0px;
       padding: 6px 0px;
    
     }
     i{
        margin-right: 20px;
     }
     h2{
        font-family: "Oswald",sans-serif;
        font-weight: 300;
     }
    .social i{
        color: white;
    }
            .form{
            position: relative;
        }
            input{
            padding: 20px 10px;
            width: 65%;
            border-radius: 40px;
           
        }
       button{
             padding: 10px 15px;
            border-radius: 30px;
             position: absolute;
             left: 28em; 
             top: 1em;
            
        }
        button:hover{
            background-color: #092a49;
            color: #007bff;
            
        } 
    }
    .bottom-footer{
        display: flex;
        justify-content: space-around;
        padding: 10px 0px;
        p{
            color: #787879;  
        }
    a{
        text-decoration: none;
        color: white;
    }  
}  
    /* for responsive */
    @media(max-width:1000px){
        .service {
            p{
            margin: 14px;
        }
        h2{
            margin-left: 15px;
            font-size: 40px;
        }
    }
    /* .container{
        flex-wrap: wrap;
    }
    .right-content{
        padding-left: 10px;
    }

    .bottom-footer{
        flex-wrap: wrap;
    } */
    
    
    }
    @media(max-width:950px){
        .service-items{
        flex-basis: 40%;
        }
    }

    @media(max-width:768px){
        .navbar{
            flex-wrap: wrap;
            flex-direction: column;
        }
        .topbar{
            display: none;
        }
        .service-items{
            flex-basis: 100%;
        }
    }
    

    
